@media only screen and (max-width: 992px) {
  .container {
    max-width: 930px;
  }

  .main_banner {
    padding-top: 301px;
    padding-bottom: 225px;
  }

  .form {
    display: none;
  }

  .form_media {
    display: block;
  }

  .style_heading {
    font-size: 34px;
  }

  .style_text {
    font-size: 16px;
  }

  .jars {
    max-width: 450px;
  }

  .elements_heading {
    font-size: 45px;
  }

  .element_figure {
    font-size: 45px;
  }

  .element_text {
    font-size: 16px;
  }

  .element_sub_text {
    font-size: 14px;
  }

  .style_dev_text {
    font-size: 16px;
    margin-right: 30px;
  }

  .lifecare_img {
    max-width: 530px;
  }

  .projects_image {
    margin-bottom: 40px;
    max-width: 930px;
  }

  .projects_description {
    margin-bottom: 50px;
  }
  .projects_description:last-of-type {
    margin-bottom: 20px;
  }

  .dislife {
    max-width: 530px;
  }

  .guideline_text h3 {
    font-size: 20px;
  }

  .guideline_text {
    font-size: 16px;
  }

  .form h3 {
    font-size: 20px;
  }

  .stages_heading {
    font-size: 45px;
  }

  .stage_item h3 {
    font-size: 20px;
  }

  .stage_item h4 {
    font-size: 16px;
  }

  .stage_item p {
    font-size: 14px;
  }

  .advantages {
    padding-top: 97px;
    padding-bottom: 60px;
  }
  .advantages_heading {
    font-size: 45px;
  }

  .advantages_item span {
    font-size: 45px;
  }

  .advantages_item {
    font-size: 14px;
    width: 180px;
  }

  .application {
    padding-top: 100px;
    padding-bottom: 20px;
  }

  .connect h3 {
    font-size: 34px;
  }

  .contacts a {
    font-size: 26px;
  }

  .usefull_links {
    width: 215px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 689px;
  }

  .header_icons {
    display: none;
  }

  .main_banner {
    background-image: url("../images/Rectangle\ 52.png");
  }
  .main_title {
    color: #fff;
    font-size: 45px;
    margin-bottom: 25px;
  }
  .main_sub_title {
    color: #fff;
    font-size: 26px;
    margin-bottom: 78px;
  }

  .main_banner_links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .main_link {
    font-size: 16px;
    padding: 19px 46px 19px 47px;
  }

  .main_link:first-of-type {
    padding: 19px 83px 19px 47px;
    margin-bottom: 42px;
  }

  .style_section {
    padding-top: 100px;
  }

  .style_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .style_text {
    max-width: 460px;
  }

  .container.mb-150 {
    margin-bottom: 119px;
  }

  .element_items {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .element {
    margin: 0;
    /* width: 122px; */
    width: 33%;
  }
  .element:nth-child(3) {
    break-after: always;
  }
  .element:last-of-type {
    width: 66%;
  }
  .element_text {
    width: 140px;
  }
  .element_sub_text {
    width: 240px;
  }

  .style_heading.align_end {
    display: flex;
    align-items: start;
  }

  .style_dev {
    display: flex;
    flex-direction: column;
  }

  .lifecare_img {
    max-width: 689px;
    order: 1;
  }

  .style_dev_text {
    order: 2;
    width: 75%;
  }

  .projects {
    padding-bottom: 60px;
  }

  .projects_image {
    max-width: 690px;
  }

  .projects_heading {
    font-size: 45px;
    margin-right: 70px;
  }

  .projects_link {
    padding: 18px 47px;
  }

  .projects_description {
    font-size: 16px;
  }

  .more_link {
    margin-left: 220px;
  }

  .guideline {
    display: flex;
    flex-direction: column;
    margin-bottom: 69px;
  }

  .dislife {
    max-width: 450px;
  }

  .guideline_text div {
    max-width: 460px;
    padding: 11px 12px 13px 15px;
  }

  .guideline_text p {
    max-width: 460px;
  }

  .form_media h3 {
    font-size: 20px;
  }

  .form_media h2 {
    max-width: 460px;
  }

  .form_media div {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .form_input_media {
    margin-bottom: 20px;
  }

  .button {
    padding: 19px 47px;
  }

  .stages {
    display: flex;
    flex-wrap: wrap;
  }

  .stage_item {
    width: 25%;
  }

  .stage_item:first-of-type {
    width: 100%;
    margin-bottom: 18px;
  }

  .advantages_heading {
    max-width: 620px;
  }

  .advantages_container {
    flex-wrap: wrap;
  }

  .advantages_item {
    width: 33%;
  }

  .advantages_item:last-of-type {
    width: 66%;
  }

  .advantages_item p {
    max-width: 340px;
  }
}
